<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">AuthApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['home']" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['precies']" routerLinkActive="active">Precies</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="auth.isAuthenticated()">
          <a class="nav-link" [routerLink]="['protected']" routerLinkActive="active">Protected</a>
        </li>
      </ul>
      <span class="navbar-text">
        <button *ngIf="!auth.isAuthenticated()"
          class="btn btn-outline-primary btn-sm" type="button"
          (click)="login()">
          Login
        </button>
        <button *ngIf="auth.isAuthenticated()" 
          class="btn btn-outline-primary btn-sm" type="button"
          (click)="logout()">
          Logout
        </button>
      </span>
    </div>
  </nav>